:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.card {
    min-height: 125px;
    /* max-width: 166px; */
    padding-right: 5px;
    padding-left: 5px;
}

.card-text {
    font-weight: bold;
    color: #0083CD;
    margin-bottom: 0;
}

.card-text-inactive {
    font-weight: bold;
    color: #BFBFBF;
    margin-bottom: 0;
    font-size: 14px;
}

.card-icon {
    max-height: 16px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-information {
    border: 1px solid #8773B9;
}

.card-product {
    border: 1px solid #6F88B8;
}

.card-advanced {
    border: 1px solid #AC6A92;
}

.card-body {
    padding: .5rem;
}

.col-md-2 {
    padding-right: .4rem;
    padding-left: .4rem;
    margin-bottom: .8rem;
}



.open-modal {
    cursor: pointer;
}

.modal-title {
    color: #0083CD;
}

.modal-details {
    color: #0083CD;
    font-weight: bold;
    margin-right: 1rem;
}

.informationColor {
    color: #8773B9;
}

.productColor {
    color: #6F88B8;
}

.advancedColor {
    color: #AC6A92;
}

h1 {
    font-family: "DINWebPro-Bold", Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    color: #55585a;
}

h3 {
    font-family: "DINWebPro-Bold", Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: DINWebPro-Bold;
    src: url("../fonts/DINWebPro-Bold.eot");
    src: url("../fonts/DINWebPro-Bold.woff") format("woff")
}

@font-face {
    font-family: DINWebPro-Black;
    src: url("../fonts/DINWebPro-Black.eot");
    src: url("../fonts/DINWebPro-Black.woff") format("woff")
}

@font-face {
    font-family: DINWebPro-Light;
    src: url("../fonts/DINWebPro-Light.eot");
    src: url("../fonts/DINWebPro-Light.woff") format("woff")
}

@font-face {
    font-family: DINWebPro;
    src: url("../fonts/DINWebPro.eot");
    src: url("../fonts/DINWebPro.woff") format("woff")
}